#btc  {
position: absolute;
top: 23%;
width: 0;
left: 20%;

}

#ltc {
position: absolute;
top: 70%;
width: 0;
left: 20%;


}

.svg-icon {
    width: 10em;
    height: 10em;
    top: 10%;
    left: 5%;
    
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill:black;
  }
  
 